@use '../../styles/variables';

.checkbox {
	color: variables.$color-text;
	display: flex;
	align-items: center;
	justify-content: left;
    width: 300px;
    gap: variables.$spacing-xs;
        input {
            outline: none;
            height: variables.$spacing-lg;
            border-radius: variables.$border-radius-sm;
        }
    }


	
