@use '../../styles/variables';


.range-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    &_wrapper {
      display: flex;
      align-items: center;
    }
  
    &_input {
      -webkit-appearance: none;
      width: 100%;
      height: variables.$spacing-sm;
      background: variables.$color-neutral-light;
      border-radius: variables.$border-radius-md;
      outline: none;
      transition: opacity variables.$transition-fast;
      margin-right: variables.$spacing-sm;
  
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: variables.$spacing-lg;
        height: variables.$spacing-lg;
        border-radius: variables.$border-radius-50;
        background: variables.$color-primary;
        cursor: pointer;
      }
  
      &::-moz-range-thumb {
        width: 24px;
        height: 24px;
        border-radius: variables.$border-radius-50;
        background: variables.$color-primary;
        cursor: pointer;
      }
    }
  
    &_value {
      font-size: variables.$font-size-base;
      color: variables.$color-text;
    }
  }
  