@use '../../styles/variables';

.checkbox {
	color: variables.$color-text;
	display: flex;
	align-items: center;
	justify-content: left;
    width: 300px;
    gap: 4px;
        input {
            outline: none;
            height: 20px;
            border-radius: 5px;
        }
    }


	
