@use '../../styles/variables';

.input {
    position: relative;
    margin-top: variables.$spacing-lg;
    font-weight: variables.$font-weight-normal;
    font-size: variables.$font-size-base;


    &_label{
        font-weight: variables.$font-weight-bold;
        font-size: variables.$font-size-medium;
        display: block;
        margin-bottom: variables.$spacing-sm;
    }
    &_input{
      width: 100%;
      // background: ;
      border: 1px solid variables.$color-border;
      box-shadow: variables.$box-shadow-light;
      border-radius: variables.$border-radius-sm;
      padding: variables.$spacing-sm variables.$spacing-md;

      &::placeholder {
        font-size: variables.$font-size-base;
        font-weight: variables.$font-weight-normal;
        color: variables.$color-border;
      }

}
    &_error{
      color: variables.$color-accent-dark;
      font-size: variables.$font-size-small;
      margin-left: variables.$spacing-md;
      margin-top: variables.$spacing-xs;
    }
    
    &_clipboard{
      position: absolute;
      top: 0;
      right: 0;
      height: 41px;
        button {
          height: 100%;
          background-color: transparent;
          border: 1px solid variables.$color-border;
          box-shadow: variables.$box-shadow-light;
          border-radius: variables.$border-radius-sm;
        }
        div {
          position: absolute;
          top: -20px;
          right: 0;
          color: variables.$color-secondary;
       
        }
    }
  }
  