@use '../../styles/variables';

.input {
    position: relative;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;

    &_label{
        font-weight: 600;
        font-size: 18px;
        display: block;
        margin-bottom: 8px;
    }
    &_input{
      width: 100%;
      // background: ;
      border: 1px solid variables.$color-border;
      box-shadow: variables.$box-shadow-light;
      border-radius: variables.$border-radius-sm;
      padding: 10px 14px;

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: variables.$color-border;
      }

}
    &_error{
      color: variables.$color-accent-dark;
      font-size: 14px;
      margin-left: 12px;
      margin-top: 4px;
    }
    
    &_clipboard{
      position: absolute;
      top: 0;
      right: 0;
      height: 46px;
        button {
          height: 100%;
          background-color: transparent;
          border: 1px solid variables.$color-border;
          box-shadow: variables.$box-shadow-light;
          border-radius: 8px;
        }
    }
}


  