@use 'styles/variables';

// Container styles
.container {
  // Basic styles
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; // Center the container
  padding: variables.$spacing-md; // Basic padding

  // Flexbox layout for responsive design
  display: flex;
  flex-direction: column; // Default to column for small screens
  align-items: center; // Center content horizontally
  justify-content: center; // Center content vertically

  // Adjust padding for larger screens
  @media (min-width: variables.$breakpoint-small) {
    padding: variables.$spacing-sm;
  }

  @media (min-width: variables.$breakpoint-medium) {
    padding: variables.$spacing-lg;
  }

  @media (min-width: variables.$breakpoint-large) {
    padding: variables.$spacing-xl;
  }

  // Responsive width
  @media (min-width: variables.$breakpoint-small) {
    max-width: 540px;
  }

  @media (min-width: variables.$breakpoint-medium) {
    max-width: 720px;
  }

  @media (min-width: variables.$breakpoint-large) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  
  // Optional: Add grid or flexbox properties for inner content alignment
  & > .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: variables.$spacing-md;
    border: 1px solid variables.$color-border;
    padding: variables.$spacing-sm;

    // Adjust layout for medium and larger screens
    @media (min-width: variables.$breakpoint-medium) {
      padding: variables.$spacing-xl;
      justify-content: space-between;
    }
  }
  .error {
    color: variables.$color-accent;
  }
}





