@use 'styles/variables';


.container {
  display: flex;
  justify-content: center;
  margin: variables.$spacing-sm auto;
  width: 1024px;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: variables.$color-white;
  color: variables.$color-text;
  padding: variables.$spacing-sm;
  border: 1px solid variables.$color-border;
  width: 50%;

}

.error {
  color: variables.$color-accent;
}

